[submodule ".config/oh-my-zsh/custom/plugins/vscode"]
	path = .config/oh-my-zsh/custom/plugins/vscode
	url = https://github.com/valentinocossar/vscode.git
[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".local/share/fusee-launcher"]
	path = .local/share/fusee-launcher
	url = https://github.com/Qyriad/fusee-launcher.git
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "src/vim-plug"]
	path = src/vim-plug
	url = https://github.com/junegunn/vim-plug.git
